* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

header,
footer {
    background-color: lightgray;
    width: 100vw;
    text-align: center;
}

body {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    background-color: whitesmoke;
    margin: 12px;
    width: 200px;
    overflow: hidden;
}

.centered {
    text-align: center;
}

button {
    padding: 6px;
}

.read-button {
    width: 100%;
    background-color: lightgreen;
    border-radius: 6px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    content: "Read";
}

.notread-button {
    width: 100%;
    background-color: goldenrod;
    border-radius: 6px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    content: "Not Read";
}

.rmv-button {
    width: 100%;
    background-color:rgb(255, 70, 70);
    border-radius: 6px;
    border: 0;
}